.form-input {
  display: grid;
  grid-template-columns: 90px 200px 400px;
  row-gap: 15px;
  column-gap: 10px;
}

.fieldset-flex {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  row-gap: 15px;
}

.validation-error {
  color: rgb(182, 84, 84);
}

.validation-success {
  color: rgb(77, 210, 117);
}

.form-pass-grid {
  display: grid;
  grid-template-columns: 90px 200px 400px;
  grid-template-areas: 'labelpass pass error'
    'labelconfirm confirm error';
  row-gap: 20px;
  column-gap: 10px;
}

input:valid {
  border: 2px solid rgb(19, 139, 75);
}